* {
	padding: 0;
	margin: 0;
}
.contenedor {
	width:80%;
	margin: auto;
	display: flex;
	flex-direction:column;
	margin-top:10%;
}
.contenedorForm{
	width: 30%;
	margin: 10% auto;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5%;
	border-radius: 25px;
	border: 3px solid cornflowerblue;
	text-align:center;
}

vaadin-text-field {
	margin-top: 10%;
}

.error, .cancelar {
	color: red;
	padding: 5%;
}

.success, .confirmar{
	color:green;
	padding: 5%;
}

iron-icon {
	padding:5%;
	cursor: pointer;
}

.dialog-edita, .dialog-elimina {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

.dialog-edita, .dialog-elimina span {
	margin: 5% 10%;
}
.cancelar {
	color:red;
}

.titulo {
	font-size:25px;
	text-align:center;
	margin: 0 15px;
	
}
