* {
	padding: 0;
}
.contenedor {
	width:80%;
	margin: auto;
}
.menu {
	background-color:#40e0d0;
	width:100%;
	padding:1%;
	display:flex;
	flex-direction:row-reverse;
	justify-content: space-around;
}

.menuItem {
	color:white;
	margin: 10px;
}